.reservation {
    border-collapse: collapse;
    width: 100%;
}

.reservation td,
.reservation th {
    border: 1px solid #ddd;
    padding: 0.6%;
    word-wrap: break-word;
}

.reservation tr:nth-child(even) {
    background-color: #f2f2f2;
}

.reservation tr:hover {
    background-color: #ddd;
}

.reservation th {
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: left;
    background-color: navy;
    color: white;
}

footer {
    height: 8% !important;
}

.table-reservation {
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding: 1% 1%;
    overflow-x: auto;
    padding-top: 5%;
}

.user-address {
    background-color: #fff;
    padding: 1% 1%;
}


.running {
    color: #4f8a10;
    background-color: #DFF2BF;
    text-align: center;
    font-weight: bold;
}

.expired {
    color: #D8000C;
    background-color: #FFD2D2;
    text-align: center;
    font-weight: bold;
}

@media screen and (max-width: 850px) {
    .reservation {
        margin-top: 40%;
    }
}