/* Nav */

.nav-parent {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
}

.nav {
    overflow: hidden;
    background-color: white;
    display: flex;
    justify-content: center;
}

.nav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.nav a:hover {
    background-color: white;
    color: black;
    border-bottom-style: solid;
}

.nav a.active {
    background-color: white;
    color: black;
    border-bottom-style: solid;
}


/* Responsive navigation menu (for mobile devices) */

@media screen and (max-width: 600px) {
    .nav {
        flex-direction: column;
    }
}